$rosa: #cc649c;
$negro: black;
$azul: #336CE7;
$fondoblanco: white;
$fondonav: #FBC4FF;
$negrita: bold;
$ordenador: flex;
$movil: column;
$justificar: space-between;
$centro: center;

$fondoFacebook: #85edc7;
$fondoLinkedin: #8ee2f5;
$fondoInstagram: #f24ee2;
$fondoYoutube: #f2694e;
$fondoTwitter: #c4c3c2;
$fondoPinterest: #f7a24d;



$color1: #B22222;
$color2: #ADFF2F;
$color3: #00BFFF;
$color4: #8A2BE2;

$colorfade11: #FA8072;
$colorfade13: #8B0000;

$colorfade21: #cdf78f;
$colorfade23: #6B8E23;

$colorfade31: #87CEEB;
$colorfade33: #1E90FF;

$colorfade41: #9370DB;
$colorfade43: #4B0082;
